
/* logo and header */
.page-header {
	background-color: #e3c9ff;
}

.page-header h1, .page-header ul, .page-header li {
  display: inline;
  margin: 0 30px 0 0;
}

.page-header h1 {
  font-size: 30px;
}

.page-header ul {
  animation: header-enter 1s ease-in-out;
}

@keyframes header-enter {
  from { margin-left: 200px; }
  to { margin-left: 0px; }
}

/* Post detail */

h1 {
	font-size: 24px;
}

.post-edit-delete a { 	/* temp style for edit delete links next to post title */
	font-size: 12px;
	margin-left: 15px;
}

.post-vote a { 					/* temp style for +1/-1 links until image used */
	margin-left: 10px;
}

/* Comments */

.comment-details a {
	margin-left: 10px;
}

/* Create-Edit post form */

input[type=text], textarea {
	width: 400px;
	padding: 5px;
	margin: 5px 0;
	display: block;
	border-radius: 3px;
}

input[type=text]:focus {
}

textarea {
	box-sizing: border-box;
}

input[type=submit] {
	background-color: purple;
	border-radius: 3px;
	color: white;
	border: none;
	cursor: pointer;
	font-size: 15px;
	padding: 7px;
	margin: 5px 0;
}

.input-cancel {
	margin-left: 10px;
}

.input-category {
	width: 50px;
}

.input-message {
	width: 500px;
	margin: 8px 0;
	text-align: center;
	background-color: #ff9191;
	border-radius: 3px;
	border: 1px solid red;
}
