
/* logo and header */
.page-header h1,ul,li {
  display: inline;
  margin: 0 30px 0 0;
}

.page-header ul {
  animation: header-enter 1s ease-in-out;
}

@keyframes header-enter {
  from { margin-left: 200px; }
  to { margin-left: 0px; }
}
